Example/PLImageManagerExample.xcodeproj/xcuserdata/antoni.xcuserdatad
PLImageManager/PLImageManager.xcodeproj/xcuserdata/antoni.xcuserdatad
.idea
PLImageManager.xcworkspace/xcuserdata/antoni.xcuserdatad
PLImageManager/doc
